body {
  margin: 0;
  @import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}

* {
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

footer {
  background-color: #323544;
  color: #fff;
  padding: 30px 0 0;
  position: relative;
  min-height: 400px;
}
footer img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
footer img #logo-white {
  filter: brightness(6);
}
footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
}
footer .footer-row .footer-menu {
  flex: 100%;
  flex-direction: column;
  height: 300px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  footer .footer-row .footer-menu {
    flex: 50%;
  }
}
@media (min-width: 992px) {
  footer .footer-row .footer-menu {
    flex: 25%;
  }
}
@media (min-width: 1260px) {
  footer .footer-row .footer-menu {
    margin-bottom: 40px;
  }
}
footer .footer-row .footer-menu h4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 26px;
}
footer .footer-row .footer-menu a {
  text-decoration: none;
  color: #fff;
}
footer .footer-row .footer-menu a:hover {
  text-decoration: underline;
}

#sitemap {
  flex: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 20px;
  width: 100%;
  margin: 0;
  background-color: #1c202c;
  z-index: 10;
}
@media (min-width: 768px) {
  #sitemap {
    width: 750px;
  }
}
@media (min-width: 992px) {
  #sitemap {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  #sitemap {
    width: 1200px;
  }
}
#sitemap p {
  margin: 0.25rem;
  color: #fff;
  line-height: 0.5rem;
  font-size: 12px;
}
#sitemap a {
  text-decoration: none;
}

/* ---- Card Container ----- */
.card-container {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  gap: 20px;
  max-width: 1200px;
  padding: 20px;
}
@media (min-width: 768px) {
  .card-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .card-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .card-container {
    width: 1200px;
  }
}

/* ----- cards ----- */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  border: 1px grey solid;
}
.card:hover {
  transform: translateY(-10px);
}

/* --- Image Styling ---- */
/* ---- Card Content ---- */
.card-content {
  padding: 15px;
  font-family: "Poppins", sans-serif;
}

.card-title {
  justify-self: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 15px;
}

/* ---- Button Styling ---- */
.card-button {
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: #2980b9;
}

/* --- Card Footer ---- */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border-top: 1px solid #e0e0e0;
}

.card-date {
  font-size: 0.9rem;
  color: #888;
}

.card-tags {
  font-size: 0.9rem;
  color: #3498db;
}

/* ----- top of page cards ---- */
.top-cards {
  display: grid;
  height: 300px;
  border-radius: 8px;
  align-items: center;
  transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  font-family: "Poppins", sans-serif;
}

#top1,
#top2,
#top3 {
  grid-column: span 4;
  align-self: stretch;
}

#top4,
#top5,
#top6,
#top7 {
  grid-column: span 3;
}

.card-button-top {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.card-button-top .btn-blue {
  background-color: #4287f5;
  color: #fff;
}
.card-button-top .btn-red {
  background-color: red;
  color: #fff;
}
.card-button-top .btn-green {
  background-color: green;
  color: #fff;
}
.card-button-top .btn-brown {
  background-color: brown;
  color: #fff;
}
.card-button-top .btn-orange {
  background-color: orange;
  color: #fff;
}
.card-button-top .btn-yellow {
  background-color: yellow;
  color: #fff;
}
.card-button-top .btn-purple {
  background-color: purple;
  color: #fff;
}

#top1:hover {
  background-color: rgb(82, 80, 78);
  color: #fff;
  cursor: pointer;
}
#top1:hover .card-title-top {
  color: #fff;
}

#top2:hover {
  background-color: #4287f5;
  color: #fff;
  cursor: pointer;
}
#top2:hover .card-title-top {
  color: #fff;
}

#top3:hover {
  background-color: green;
  color: #fff;
  cursor: pointer;
}
#top3:hover .card-title-top {
  color: #fff;
}

#top4:hover {
  background-color: brown;
  color: #fff;
  cursor: pointer;
}
#top4:hover .card-title-top {
  color: #fff;
}

#top5:hover {
  background-color: purple;
  color: #fff;
  cursor: pointer;
}
#top5:hover .card-title-top {
  color: #fff;
}

#top6:hover {
  background-color: red;
  color: #fff;
  cursor: pointer;
}
#top6:hover .card-title-top {
  color: #fff;
}

#top7:hover {
  background-color: brown;
  color: #fff;
  cursor: pointer;
}
#top7:hover .card-title-top {
  color: #fff;
}

/* Card Content */
.card-icon {
  display: flex;
  align-self: center;
}

.card-content-top {
  padding: 15px;
  color: #333;
  align-items: center;
}

.card-title-top {
  justify-self: center;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.card-description-top {
  text-align: center;
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto 20px auto;
}
@media (min-width: 768px) {
  .article-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .article-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .article-container {
    width: 1200px;
  }
}
.article-container a {
  text-decoration: none;
}

.business,
.marketing,
.notables {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  transition: transform 0.5s ease, opacity 0.5s ease;
  width: 370px;
  height: 583px;
  cursor: pointer;
}
.business:hover,
.marketing:hover,
.notables:hover {
  transform: translateY(-10px);
}

.article-content {
  margin: 20px;
  font-size: 16px;
}
.article-content h3 p {
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.article-content p {
  margin-bottom: 10px;
}

.card-img {
  width: 100%;
  height: 212.94px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.seperator {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 30px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.business h3 {
  color: orange;
}

.marketing h3 {
  color: green;
}

.notables h3 {
  color: purple;
  margin-top: 20px;
}

h3 {
  padding-bottom: 30px;
}

.card-footer-container {
  display: inline-flex;
  max-height: 50px;
  justify-content: space-between;
  align-items: center;
}
.card-footer-container p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* Container and Header Styling */
header {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  height: 80px;
  padding: 0 20px;
}

/* Navigation Styling */
nav {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;
}

/* Logo Styling */
nav img {
  display: flex;
  height: 64px;
}

/* Right-Aligned Section */
.right-align {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}

/* Button Styling */
.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.btn-blue {
  background-color: #007bff;
}

.btn-grey {
  background-color: #6c757d;
}

.button img {
  height: 16px;
}

/* Search Bar with Icon Styling */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-input {
  padding: 8px 12px 8px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  color: #888;
  font-size: 16px;
}

/* Hide Search Button */
.search-button {
  display: none;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  position: absolute;
  top: 100px;
  right: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Show Hamburger Menu and Hide Other Elements */
  .hamburger-menu {
    display: flex;
  }
  /* Hide buttons, search bar, and logo on smaller screens */
  .button, .search-bar {
    display: none;
  }
  /* Show Dropdown Menu when Active */
  .dropdown-menu {
    display: flex;
  }
}
.container {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #323544;
  max-height: fit-content;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 300px);
  max-width: minmax(250px, 800px);
  gap: 20px;
  padding: 5px;
  position: relative;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .grid-container1 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .grid-container1 {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .grid-container1 {
    width: 1200px;
  }
}

.grid-container2 {
  display: flex;
  flex-direction: column;
  max-width: minmax(600px, 800px);
  max-height: 600px;
  gap: 20px;
  padding: 5px;
  position: absolute;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .grid-container2 {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .grid-container2 {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .grid-container2 {
    width: 1200px;
  }
}

#welcome #services {
  display: flex;
}

.hero img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.hero {
  display: flex;
}
.hero .arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 40px solid #333; /* Arrow color */
}/*# sourceMappingURL=styles.css.map */