.icon {
    display: flex;
    width: 35px;
    height: 35px;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
.logo {
    display: flex;
    width: 35px;
    max-width: 50px;
    margin-bottom: 10px;
    padding: 5px;
}

#phone {
    width: 35px;
    height: 35px;
}
.search-bar {
    display: flex;
    flex-grow: 2;
    flex-direction: row;
    height: 45px;
    width: auto;
    margin-top: 80px;
}