// Breakpoints for the search bar and container navigation
@media (max-width: 767px) {
    .container-nav {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
        justify-content: space-between;
        grid-template-areas: 
            "logo phone burger"
            "search2";

        .logo {
            grid-area: logo;
        }

        .phone {
            grid-area: phone;
            display: flex;
        }

        .burger-container {
            grid-area: burger;
        }

        .button,
        .search-bar {
            display: none;
        }

        .search-bar2 {
            grid-area: search2;
            grid-column: 1 / 4;
            display: flex;
            position: absolute;
            top: 120px;
            max-width: 680px;
            width: 100%;
        }
    }

    .search-button {
        display: block;
        background-color: #e1e2e7;
        border: none;
        margin-right: 6px;
    }

    .search-bar2 {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 450px) {
    .search-bar2 {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .button, .search-bar {
        display: none;
    }
    .search-bar2 {
        grid-area: search2;
        display: flex;
        width: 100%;
    }
}

@media (min-width: 769px) {
    .search-bar {
        display: block;
    }
    .button, .search-block {
        display: none;
    }
    .search-bar2 {
        display: none;
    }
}

@media (min-width: 992px) {
    .search-bar2 {
        display: none;
    }
    .search-bar {
        display: none;
    }
    .search-block {
        display: none;
    }
    .button {
        display: block;
    }
    .phone {
        display: none;
    }
}

@media (min-width: 1260px) {
    .button, .search-bar {
        display: block;
    }
    .search-block {
        display: none;
    }
}

// Container navigation styles
.container-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    height: fit-content;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 991px) {
        height: 110px;
    }

    @media (max-width: 767px) {
        height: 130px;
        margin-top: 10px;
    }
}

