// cards

@use 'mixins' as m;

/* ---- Card Container ----- */
.card-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    gap: 20px;
    max-width: 1200px;
    padding: 20px;
    @include m.responsive;
}
  
  /* ----- cards ----- */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    border: 1px grey solid;
    &:hover {
        transform: translateY(-10px);
    }
}

  // ---- Card Content
.card-content {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}
  
.card-title {
    justify-self: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}
  
.card-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}
  
  // ---- Button Styling 
.card-button {
    padding: 15px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.card-button:hover {
    background-color: #2980b9;
}

  // --- Card Footer
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
}
  
.card-date {
    font-size: 0.9rem;
    color: #888;
}
  
.card-tags {
    display: flex;
    flex-direction: row;
    font-size: 0.5rem;
    color: #222323;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    @include m.responsive;  
}

.p1 {
    margin-right: auto;
    font-size: 40px;
    font-weight: bold;
    margin-left: 15px;
}
.p2 {
    font-size: 40px;
    font-weight: bold;
    margin-right: 15px;
    a {
        text-decoration: none;
        color: #222323;
    } 
}



// ----- top of page cards

.top-cards {
    display: grid;
    height: 300px;
    gap: 15px;
    border-radius: 8px;
    align-items: center;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.fa-solid {
    color: #fff;
}

.card-button-top {
    display: flex;
    flex-direction: row;
    margin-left:auto;
    margin-right:auto;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @include m.buttons;
}
#top1:hover {
    background-color: rgb(109, 107, 104);
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: rgb(109, 107, 104);
    }
}

#top2:hover {
    background-color: #4287f5;
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: #4287f5;
    }
}
#top3:hover {
    background-color: green;
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: green;
    }
}
#top4:hover {
    background-color: brown;
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: brown;
    }
}
#top5:hover {
    background-color: purple;
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: purple;
    }
}
#top6:hover {
    background-color: rgb(240, 18, 107);
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: rgb(240, 18, 107);
    }
}
#top7:hover {
    background-color: brown;
    color: #fff;
    cursor: pointer;
    @include m.color;
    @include m.change;
    .circle-background {
        background-color: #fff;
    }
    .fa-solid {
        color: brown;
    }
}
  /* Card Content */

.card-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    .circle-background {
        width: 65px;
        height: 65px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-background img {
        width: 50px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-content-top {
    padding: 0px 15px;
    color: #333;
    //@include m.color;
    align-items: center;
}
  
.card-title-top {
    justify-self: center;
    font-size: 1.5rem;
    color: #333;
    margin: 8px;
    padding-bottom: 5px;
}
  
.card-description-top {
    text-align: center;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
 
}