@use 'mixins' as m;

// ---- Card Container 
.card-container {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    padding: 20px;
    @include m.responsive;
}

  // ----- cards
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease;
    border: 1px grey solid;
    &:hover {
        transform: translateY(-10px);
    }
}

  // ---- Card Content
.card-content {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    justify-self: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.card-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

  // ---- Button Styling 
.card-button {
    padding: 15px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #2980b9;
}

  // --- Card Footer
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #f7f7f7;
    border-top: 1px solid #e0e0e0;
}

.card-date {
    font-size: 0.9rem;
    color: #888;
}

.card-tags {
    display: flex;
    flex-direction: row;
    color: #222323;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    @include m.responsive;
    .p1 {
        margin-right: auto;
        font-size: 2.5rem;
        padding-left: 2rem;
    }
    .p2 {
        padding-top:20px;
        padding-right: 2rem;
        font-weight: bold;
        a {
            text-decoration: none;
            font-size: 2.2rem;
            color: #222323;
            &:hover {
                text-decoration: underline;
            }
        } 
    }
}

// ----- top of page cards

.top-cards {
    display: grid;
    height: 315px;
    width: 100%;
    gap: 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    align-items: center;
    transition: transform 0.5s ease, background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    letter-spacing: 1px;
    overflow: hidden;
    @media (max-width: 450px) {
        max-width: 100%;
    }
}

.top-cards .fa-solid {
    color: #fff;
    font-size: 1.5rem;
}

.card-button-top {
    display: flex;
    flex-direction: row;
    margin: 20px auto; 
    height: 55px;
    padding: 15px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    @include m.buttons;
    font-size: 1rem;
    font-weight: 200;
}

// Apply hover effects using the color map
@each $id, $color in m.$top-card-colors {
    ##{$id}:hover {
        @include m.top-card-hover($color);
    }
}

// ----- top card content
.card-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
    .circle-background {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .circle-background img {
        width: 60px;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}

.card-content-top {
    color: #333;
    @include m.color;
    align-items: center;
    padding: 15px;
}

.card-title-top {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
    color: #333;
    margin-top: 0;
}

.card-description-top {
    text-align: center;
    font-size: .8rem;
    color: #333;
    margin: 8px 8px;
    padding: 0 10px;
}

#top1,
#top2,
#top3,
#top4,
#top5,
#top6,
#top7 {
    @include m.buttons;
}