// fit in a grid system here for the footer and welcom section
// make it flexable 
@use 'mixins' as m;

.container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #323544;
    @include m.responsive;
    
}

.icon-container {
    display: inline-block;
    align-items: right;
    padding: 15px;
    width: 200px;
    .icon-item {
        display: inline;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        background-color: #fff;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }
}

.grid-container1{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    grid-template-rows: repeat(2, 300px);
    max-width: minmax(267px, 800px);
    gap: 20px;
    padding: 5px;
    position: relative;
    padding-bottom: 20px;
    @include m.responsive;
}



.hero img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    
}