// fit in a grid system here for the footer and welcom section
// make it flexable 


.container {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
         width: 750px;
    }

    @media (min-width: 992px) {
        width: 970px;
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }

}

.icon-container {
    display: inline;

    max-width: 50px;
}

.welcome {
    display: flex;
    flex-direction: column;
    background-color: #201e1e;
    p {
        color: white;
    }
}