@use 'mixins' as m;

.menu {
    display: none; 
    position: absolute;
    top: 95px;
    justify-content: center; 
    align-items: center;
    width: 100%; 
    background-color: #333645;
    height: 95px;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 992px) {
        display: flex;
    }
}

.drop-down-menu {
    display: flex;
    flex-direction: row; 
    width: 1200px;
    height: 95px;
}

.menu-item {
    position: relative;
    left: 0;
    right: 0; 
    max-width: 170px;
    border: 1px solid transparent;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    background-color: #333645;
    cursor: pointer;
    .fa-solid,
    .fa-sharp {
        color: #fff;
        margin-top: 6px;
    }
    &:not(:hover) {
        @include m.n-c;
    }
    &:hover {
        @include m.no-c;
    }
    @media screen and (min-width: 992px) {
        width: 100%;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: -195px;
    width: 100vw;
    z-index: 1000; 
    transition: opacity 0.3s ease;
}

.menu-item:hover, .menu-item:focus {
    .dropdown-content {
        display: flex;
    }
}

.dropdown-content p {
    margin: 0;
}

.soft {
    font-size: 10px;
    margin-bottom: 2px;
    margin-top: 4px;
}

.hard {
    font-size: 16px;
    margin-top: 0;
}

#bespoke-software {
    @include m.dds;
    @include m.responsive;
}

#it-support {
    @include m.dds;
    @include m.responsive;
}

#digital-marketing {
    @include m.dds;
    @include m.responsive;
}

#telecoms-services {
    @include m.dds;
    @include m.responsive;
}

#web-design {
    @include m.dds;
    @include m.responsive;
}

#cyber-security {
    @include m.dds;
    @include m.responsive;
}

#developer-course {
    @include m.dds;
    @include m.responsive;
}

#bs:hover ~ #bespoke-software,
#bespoke-software:hover,
#bespoke-software:hover ~ #bs {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darken(map-get(m.$menu-colors, 'bs'), 10%);
}

#it:hover ~ #it-support,
#it-support:hover,
#it-support:hover ~ #it { 
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: lighten(map-get(m.$menu-colors, 'it'), 5%);
}

#dm:hover ~ #digital-marketing,
#digital-marketing:hover,
#digital-marketing:hover ~ #dm {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darken(map-get(m.$menu-colors, 'dm'), 10%);
}

#ts:hover ~ #telecoms-services,
#telecoms-services:hover,
#telecoms-services:hover ~ #ts {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darken(map-get(m.$menu-colors, 'ts'), 10%);
}

#wd:hover ~ #web-design,
#web-design:hover,
#web-design:hover ~ #wd {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darken(map-get(m.$menu-colors, 'wd'), 10%);
}

#cs:hover ~ #cyber-security,
#cyber-security:hover,
#cyber-security:hover ~ #cs {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darken(map-get(m.$menu-colors, 'cs'), 10%);
}

#dc:hover ~ #developer-course,
#developer-course:hover,
#developer-course:hover ~ #dc {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: darken(map-get(m.$menu-colors, 'dc'), 10%);
}

.menu-container:hover .arrow, 
.red-section:hover .arrow {
    display: block;
}

#bespoke-software,
#it-support,
#digital-marketing,
#telecoms-services,
#web-design,
#cyber-security,
#developer-course {
    h3 {
        font-size: 2rem;
        color: #fff;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 0;
        padding: 0;
    }
    li {
        text-decoration: none;
        list-style-type: none;
        padding: 0.5rem;
        margin: 0;
        line-height: 2rem;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
        #break {
            padding-top: 0;
        }
    }
    i {
        padding-right: .6rem;
    }
}

// Apply the mixin to all menu items using the color map
@each $id, $color in m.$menu-colors {
    ##{$id}:hover,
    ##{$id}:hover ~ ##{$id}-section,
    ##{$id}-section:hover ~ ##{$id} {
        @include m.hover-triangle($color);
    }
}

.content-container {
    display: flex;
    width: 100vw;
    height: fit-content;
    text-align: left;
    margin: 0 auto;
    position: absolute;
    top: -6px;
    left: 0;
    z-index: 1000;
}

.content_box {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1000;
}