@use 'mixins' as m;


.menu {
    display: flex; 
    justify-content: center; 
    width: 100vw; 
    background-color: #333645;
}

.drop-down-menu {
    display: flex;
    flex-direction: row; 
    width: 1200px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.menu-item {
    position: relative;
    left: 0;
    right: 0; 
    width: 167.14px; 
    border: 1px solid transparent;
    background-color: #333645;
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: #fff;
    cursor: pointer;
    .fa-solid,
    .fa-sharp {
        color: #fff;
    }
    :not(:hover) {
        @include m.n-c;
    }
    :hover {
        @include m.no-c;
        background-color: #43475a;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100vw;
    top: 7px;
    z-index: 999; 
    opacity: 0; 
    transition: opacity 0.3s ease;
}

.menu-item:hover .dropdown-content,
.menu-item:focus .dropdown-content {
    display: flex;
    opacity: 1; 
    @include m.tri;
}

.dropdown-content p {
    margin: 0;
}
.soft {
    font-size: 8px;
    margin-bottom: 2px;
}
.hard {
    font-size: 16px;
    margin-top: 0;
}

#bespoke-software {
    @include m.dds;
    @include m.responsive;
}

#it-support {
    @include m.dds;
    @include m.responsive;
}

#digital-marketing {
    @include m.dds;
    @include m.responsive;
}

#telecoms-services {
    @include m.dds;
    @include m.responsive;
}

#web-design {
    @include m.dds;
    @include m.responsive;
}

#cyber-security {
    @include m.dds;
    @include m.responsive;
}

#developer-course {
    @include m.dds;
    @include m.responsive;
}

#bs:hover ~ #bespoke-software,
#bespoke-software:hover {
    display: block;
    background-color: #43475a;
}

#it:hover ~ #it-support,
#it-support:hover { 
    display : block;
    background-color: #4287fa;
}

#dm:hover ~ #digital-marketing,
#digital-marketing:hover {
    display: block;
    background-color: green;
}

#ts:hover ~ #telecoms-services,
#telecoms-services:hover {
    display: block;
    background-color: brown;
}

#wd:hover ~ #web-design,
#web-design:hover {
    display: block;
    background-color: purple;
}

#cs:hover ~ #cyber-security,
#cyber-security:hover {
    display: block;
    background-color: rgb(240, 18, 107);
}

#dc:hover ~ #developer-course,
#developer-course:hover {
    display: block;
    background-color: brown;
}

#bespoke-software,
#it-support,
#digital-marketing,
#telecoms-services,
#web-design,
#cyber-security,
#developer-course {
    h3 {
        font-size: 2rem;
        color: #fff;
        margin-top: 2rem;
        margin-left: 1.5rem;
        margin-bottom: .5rem;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        margin: 0;
        padding: 0;
    }
    li {
        text-decoration: none;
        list-style-type: none;
        padding: 0.5rem;
        margin: 0;
        line-height: 3rem;
        color: #fff;
        font-size: 1.2rem;
        &:hover {
            text-decoration: underline;
        }
        #break {
            padding-top: 0;
        }
    }
    i {
        padding-right: .6rem;
    }
    // @include m.tri;
}
