// footer

@use 'mixins' as m;

footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; 
   background-color: #323544;
   color: #fff;
   padding: 30px 0 0;
   position: relative;
   min-height: 420px;
   
}
img {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   
} 

footer ul {
   list-style-type: none; 
   padding: 0;
   margin: 0;
   width: 100%;
   max-width: 200px;
}

footer h4 {
   text-transform: uppercase;
   font-size: 1rem;
   margin-bottom: 26px;	
}

footer li {
   margin-bottom: 8px; 
   color: #fff;
}
a {
   text-decoration: none;
   font-size: 12px;
   color: #fff;
   &:hover {
      text-decoration: underline;
   }
}


.footer-menu {   
   display: grid;
   grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
   gap: 20px; 
   height: 300px;
   margin-bottom: 30px;
   
   @media (min-width: 768px) {
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas:
      'f0',
      'f1',
      'f2',
      'f3',
      'f4';
   }

   @media (min-width: 992px) {
      grid-template-areas: 
      'f1 f2 f3 f4';
   }

   @media (min-width: 1260px) {
      margin-bottom: 40px;
      grid-template-areas: 
      'f0 f1 f2 f3 f4';
   }
   
}	
#f-0 {
   grid-area: f0;
}

#f-1 {
   grid-area: f1;
}

#f-2 {
   grid-area: f2;
}

#f-3 {
   grid-area: f3;
}

#f-4 {
   grid-area: f4;
}

#sitemap {
   display: flex;
   justify-content: flex-start;
   flex-wrap: wrap;
   padding: 15px;
   margin-left: auto;
   margin-right: auto;
   margin: 0;
   max-width: 1200px;
   z-index: 10;
   @include m.responsive;
   p {
      display: flex;
      // grid-template-rows: 1fr 1fr;
      margin: 0.25rem;
      color: #fff;
      line-height: 0.5rem;
      font-size: 12px;
   }
   a {
      display: flex;
      // grid-template-rows: 1fr 1fr;
      font-size: 12px;
   }
}
//--------- social icons ----------------
.social-icons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   border: 1px solid #eee;
   height: 60px;
   align-items: center;
   justify-content: space-evenly;
   .o1,
   .o2,
   .o3,
   .o4 {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #23252f;
      border: 1px solid transparent;
      width: 60px;
      height: 60px;
      font-size: 40px;
   }
   a {
      text-decoration: none;
   }
   @include m.s-c;
}

.consent {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   border: 1px solid transparent;
   background-color: #54596d;
   color: #fff;
   font-size: 8px;
   padding: 2px 10px 2px 5px;
   font-family: 'Poppins', sans-serif;
   width: 135px;
   border-radius: 0 15px 0 0;
   a {
      text-decoration: none;
   }
   &:hover {
      background-color: #7d849c;
   }
}

.sofia {
   position: fixed;
   bottom: 25px;
   margin-right: 40px;
   z-index: 1000;
   color: #fff;
   right: 0;
   border: 1px solid transparent;
   width: 55px;
   height: 55px;
   background-color: #333645;
   border-radius: 50%;
   box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);
   align-content: center;
   text-align: center;
   &:hover {
      background-color: #7d849c;
   }
}
