// footer

@use 'mixins' as m;

footer .container{
   display: flex;
   flex-direction: row;
   background-color: #323544;
   color: #fff;
   padding: 30px 0 0;
   position: relative;
   height: fit-content;
   width: 100%;
}

img {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
} 

a {
   text-decoration: none;
   font-size: 12px;
   color: #fff;
   &:hover {
      text-decoration: underline;
   }
}

.social-container {
   display: flex;
   width: 300px;
   margin: 40px 40px 0 0;
   @media (max-width: 450px) {
      margin: 0 0 50px 0;
   }
}

.footer-grid {   
   display: grid;
   grid-template-columns: 100%;
   grid-template-rows: repeat(5, auto);
   grid-template-areas: 
      "f-0"
      "f-1"
      "f-2"
      "f-3"
      "f-4";
   max-width: 1200px;
   gap: 20px;
   height: fit-content;
   margin-bottom: 30px;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
   align-items: start;
   justify-items: start;
}

.footer-menu{
   ul {
      display: flex;
      flex-direction: column;
      list-style-type: none; 
      padding: 0;
      margin: 0;
      font-size: 16px;
      line-height: 1.5rem;
      a {
         margin-bottom: 5px; 
         color: #fff;
         font-size: 14px;
         line-height: 10px;
      }
      p {
         text-transform: uppercase;
         font-size: 16px;
         margin-bottom: 25px;	
         margin-top: 25px;
      }
   }

}

//------- Medium screens: Stack 2x2 vertically ----------

@media screen and (min-width: 768px) {
   .footer-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      grid-template-areas: 
         "f-0 . "
         "f-1 f-2"
         "f-3 f-4";
   }
}

//-------------------Large screens: Keep all in one row-------------
@media only screen and (min-width: 992px) {
   .footer-grid {
      gap: 30px;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      grid-template-areas: 
         "f-0 f-1 f-2 f-3 f-4";
   }
}

//-------Assign grid areas---------------
.footer-menu:nth-last-of-type(1) {
   grid-area: f-4;
}
.footer-menu:nth-last-of-type(2) {
   grid-area: f-3;
}
.footer-menu:nth-last-of-type(3) {
   grid-area: f-2;
}
.footer-menu:nth-last-of-type(4) {
   grid-area: f-1;
}
.footer-menu:nth-last-of-type(5) {
   grid-area: f-0;
}


//--------- sitemap -----------------

.sitemap-container {
   display: flex;
   flex-direction: row;
   flex: 100%;
   background-color: #1c202c;
   gap: 20px;
   font-family: 'Poppins', sans-serif;
   align-items: left;
   justify-content: flex-start;
}

#sitemap {
   display: flex; 
   justify-content: start;
   padding: 15px;
   margin-left: auto;
   margin-right: auto;
   max-width: 1200px;
   z-index: 10;
   @include m.responsive;
   p {
      display: flex;
      margin: 0.25rem;
      color: #fff;
      line-height: 0.5rem;
      font-size: 12px;
   }
   a {
      color: #fff;
      font-size: 12px;
      text-decoration: none;
   }
}

//--------- social icons ----------------
.social-icons {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 5px;
   height: 30px;
   align-items: center;
   justify-content: space-evenly;
   .o1,
   .o2,
   .o3,
   .o4 {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background-color: #23252f;
      border: 1px solid transparent;
      width: 65px;
      height: 55px;
      font-size: 25px;
   }
   a {
      text-decoration: none;
   }
   @include m.s-c;
   @media (max-width: 450px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;
      .o2, .o4 {
         margin-right: 90px;
      }
   }
}

//--------- consent ----------------
.consent {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   border: 1px solid transparent;
   background-color: #54596d;
   color: #fff;
   font-size: 8px;
   padding: 2px 10px 2px 5px;
   font-family: 'Poppins', sans-serif;
   width: 135px;
   border-radius: 0 15px 0 0;
   a {
      text-decoration: none;
   }
   &:hover {
      background-color: #7d849c;
   }
}

//--------- sofia ----------------
.sofia {
   position: fixed;
   bottom: 25px;
   margin-right: 40px;
   z-index: 1000;
   color: #fff;
   right: 0;
   border: 1px solid transparent;
   width: 55px;
   height: 55px;
   background-color: #333645;
   border-radius: 50%;
   box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5);
   align-content: center;
   text-align: center;
   &:hover {
      background-color: #7d849c;
   }
}
