// footer

@use 'mixins' as m;

footer {
   display: flex;
   justify-content: space-between; 
   background-color: #323544;
   color: #fff;
   padding: 30px 0 0;
   position: relative;
   height: 400px;
   
}
img {
   width: 300px;
   margin-left: auto;
   margin-right: auto;
   
} 

footer ul {
   list-style-type: none; 
   padding: 0;
   margin: 0;
   width: 100%;
   max-width: 200px;
}

footer h4 {
   text-transform: uppercase;
   font-size: 1rem;
   margin-bottom: 26px;	
}

footer li {
   margin-bottom: 8px; 
   color: #fff;
}
a {
   text-decoration: none;
   color: #fff;
   &:hover {
      text-decoration: underline;
   }
}


.footer-menu {   
   flex: none; 
   flex-direction: column; 
   height: 300px;
   margin-bottom: 30px;
   
   @media (min-width: 768px) {
      flex: 50%;
   }

   @media (min-width: 992px) {
      flex: 25%;
   }

   @media (min-width: 1260px) {
      margin-bottom: 40px;
   }
   
}	  

#sitemap {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 15px;
   margin-left: auto;
   margin-right: auto;
   width: 1200px;
   margin: 0;
   max-width: 1200px;
   z-index: 10;
   @include m.responsive;
   p {
      display: inline-block;
      grid-template-rows: 1fr 1fr;
      margin: 0.25rem;
      color: #fff;
      line-height: 0.5rem;
      font-size: 12px;
   }
   a {
      display: inline-block;
      grid-template-rows: 1fr 1fr;
      font-size: 12px;
   }
}
//--------- social icons ----------------
.social-icons {
   display: flex;
   gap: 10px;
   border: 1px solid #eee;
   height: 60px;
   align-items: center;
   justify-content: space-evenly;
   .o1,
   .o2,
   .o3,
   .o4 {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #23252f;
      border: 1px solid transparent;
      width: 60px;
      height: 60px;
      font-size: 40px;
   }
   a {
      text-decoration: none;
   }
   @include m.s-c;
}

