// layout

@use 'mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    max-width: 100%;
}

main {
    top: 195px;
}

.full-container {
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease !important;
    background-color: #fff;
    opacity: 1;
    max-width: 100vw;
}

.carousel-wrapper {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.container {
    padding-left: 1px;
    padding-right: 1px;

    @media (min-width: 768px) {
        width: 750px;
        
    }

    @media (min-width: 992px) {
        width: 970px;
        
    }

    @media (min-width: 1260px) {
        width: 1200px;
        
    }

}


.container-main {
    min-height: 600px;

    @media (min-width: 768px) {
        width: 750px;
        .menu {
            display: none;
        }
    }

    @media (min-width: 992px) {
        width: 970px;
        .menu {
            display: flex;
            flex: 1;
        }
    }

    @media (min-width: 1260px) {
        width: 1200px;
    }
}

.container-nav {
    @media screen and (max-width: 768px) {
        display: grid;
        grid-template-columns: 200px 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "logo phone burger"
            "search2 search2 search2";


        img {
            grid-area: logo;
        }

        .phone {
            grid-area: phone;
            display: flex;
        }

        .burger-container {
            grid-area: burger;
        }

        .button,
        .search-bar {
            display: none;
        }

        .search-bar2 {
            grid-area: search2;
            display: flex;
        }
    }

    @media (min-width: 769px) {
        
        .search-bar {
            display: block;
        }
        .button, .search-block {
            display: none;
        }
        .search-bar2 {
            display: none;
        }
    }

    @media (min-width: 992px) {
        .search-bar2 {
            display: none;
        }
        .search-bar {
            display: none;
        }
        .search-block {
            display: block;
        }
        .button {
            display: block;
        }
        .phone {
            display: none;
        }
    }

    @media (min-width: 1260px) {
        .button, .search-bar {
            display: block;
        }
        .search-block {
            display: none;
        }
    }
}

.grid-container2 {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        max-width: 750px;
        flex-wrap: wrap;
    }

    @media (min-width: 768px) {
        width: 750px;
        
        
    }

    @media (min-width: 992px) {
        width: 970px;

    }

    @media (min-width: 1260px) {
        width: 1200px;
        
    }
}

.sticky-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    color: rgb(12, 11, 11);
    padding: 15px 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.sticky-container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(0);
    z-index: 1000;
}

.sticky-container.sticky.show {
    transform: translateY(0);
}

.view-more {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    a {
        text-decoration: none;
        color: black;
        font-size: 24px;
    }
}