// mixins

//----------------------
//----media queries-----
//----------------------

@mixin responsive {
    @media (max-width: 768px) {
        width: 748px;
        #top1,
        #top2,
        #top3, 
        #top4,
        #top5,
        #top6,
        #top7 {
            grid-column: span 12;
            align-self: stretch;
        }
        .business,
        .marketing,
        .notable {
            grid-column: span 12;
        }
    }

    @media (min-width: 768px) {
        width: 7650px;
        #top1,
        #top2,
        #top3 {
            grid-column: span 12;
            align-self: stretch;
        }

        #top4,
        #top5,
        #top6,
        #top7 {
            grid-column: span 6;
        }
        .notable {
            display: hidden;
        }
   }

   @media (min-width: 992px) {
       width: 970px;
        #top1,
        #top2,
        #top3 {
            grid-column: span 4;
            align-self: stretch;
        }

        #top4,
        #top5,
        #top6,
        #top7 {
            grid-column: span 6;
        }

   }

   @media (min-width: 1260px) {
       width: 1200px;
        #top1,
        #top2,
        #top3 {
            grid-column: span 4;
            align-self: stretch;
        }

        #top4,
        #top5,
        #top6,
        #top7 {
            grid-column: span 3;
        }
   }
}

// card hover color change
// @mixin color {
//     .card-button-top {
//         background-color: white;
//         color: black;
//     }
// }

@mixin button-reset {

    button {
        background-color: none;
        border: none;
        border-radius: 4px;
        font: inherit;
        color: inherit;
        cursor: pointer;
        outline: none; 
        &:hover {
            @include m.buttons;
        } 
    }
}

@mixin buttons {

    .btn-blue {
        background-color: #4287f5;
        color: #fff;
    }

    .btn-red {
        background-color: red;
        color: #fff;
    }

    .btn-green {
        background-color: green;
        color: #fff;
    }

    .btn-brown {
        background-color: brown;
        color: #fff;
    }

    .btn-orange {
        background-color: orange;
        color: #fff;
    }

    .btn-yellow {
        background-color: yellow;
        color: #fff;
    }

    .btn-purple {
        background-color: purple;
        color: #fff;
    }
}  

@mixin arrow {
    .arrow-right {
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 40px solid #333; /* Arrow color */
      }
}