//----------------------
//----media queries-----
//----------------------

@mixin responsive {
    @media (min-width: 768px) {
        width: 750px;
   }

   @media (min-width: 992px) {
       width: 970px;
   }

   @media (min-width: 1260px) {
       width: 1200px;
   }
}



/* Responsive Layouts */
@mixin top-cards{
    /* 2 cards per row for tablets and medium screens */
    @media (min-width: 600px) {
        .card {
        flex: 1 1 calc(50% - 20px); /* 50% width - gap */
        }
    }
    
    /* 3 cards per row for larger screens */
    @media (min-width: 900px) {
        .card {
        flex: 1 1 calc(33.33% - 20px); /* 33.33% width - gap */
        }
    }
}  


// card hover color change
// @mixin color {
//     .card-button-top {
//         background-color: white;
//         color: black;
//     }
// }

@mixin button-reset {

    button {
        background-color: none;
        border: none;
        border-radius: 4px;
        font: inherit;
        color: inherit;
        cursor: pointer;
        outline: none; 
        &:hover {
            @include m.buttons;
        } 
    }
}

@mixin buttons {

    .btn-blue {
        background-color: #4287f5;
        color: #fff;
    }

    .btn-red {
        background-color: red;
        color: #fff;
    }

    .btn-green {
        background-color: green;
        color: #fff;
    }

    .btn-brown {
        background-color: brown;
        color: #fff;
    }

    .btn-orange {
        background-color: orange;
        color: #fff;
    }

    .btn-yellow {
        background-color: yellow;
        color: #fff;
    }

    .btn-purple {
        background-color: purple;
        color: #fff;
    }
}