@use 'mixins' as m;

.mobile-body {
    display: flex;
    background-color: #333645;
    .fa-regular, .fa-solid {
        width: 25px;
    }
    @media screen and (max-width: 450px) {
        width: 275px;
    }
}

.mobile-menu-item {
    display: flex;
    flex-direction: column;
    width: 167px;
    top: 0;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: #fff;
    background-color: #333645;
    cursor: pointer;
    .fa-solid,
    .fa-sharp {
        color: #fff;
        margin-top: 20px;
    }
    &:not(:hover) {
        @include m.n-c;
    }
    &:hover {
        @include m.no-c;
    }
}

.mobile-content-container {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-y: visible;
}

.mobile-drop-down-menu {

    h3 {
        text-align: center;
        color: #fff;
    }
    li {
        color: #fff;
        list-style-type: none;
        padding: 10px;
        .fa-solid, .fa-regular {
            margin-right: 15px;
            
        }
    }
    
}

.box {
    border: 2px solid #605f5f;
}



@media screen and (max-width: 768px) {
    
}