.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #363B48;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar h3 {
    color: #fff;
    font-size: 1.2rem;
    border: 2px solid #2a2d36;
    background-color: #2a2d36;
    padding: 10px;
    width: auto;
}

.sidebar ul {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    line-height: 1.5rem;
    color: #fff;
    display: block;
    transition: 0.5s;
    li {
        list-style-type: none;
    }
}

.sidebar li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
}

body {
    transition: margin-right .5s;
    padding: 0px;
}

// On smaller screens

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 768px) {
    .sidebar ul {
        font-size: 1.2rem;
        text-align: center;
        line-height: 2rem;
    }
    .sidebar h3 {
        font-size: 1.5rem;
        text-align: center;
    }
}